.wrapper {
	width: 800px;
	margin: 0 auto;
}

.transform,
.transition,
.animation {
	border: 1px solid #999;
	margin: 20px 0;
	padding: 0 0;
}

.box {
	width: 200px;
	height: 200px;
}

.b1 {
	background-color: #80e1d4;
	/* cyan */
}

.b2 {
	background-color: #9696ff;
	/* purple */
}

.b3 {
	background-color: #85e1f4;
	/* blue */
}

.b4 {
	background-color: #e89380;
	/* orange */
}

/***********************************************  
                    TRANSITION
 ***********************************************/

.transition .b1 {
	transition: width 1s ease-in-out ;
}

.transition .b1:hover {
	width: 400px;
	height: 150px;
}

.transition .b2 {
	transition: width 1s, height .5s;
}

.transition .b2:hover {
	width: 250px;
	height: 250px;
}

/* Timing function using cubic-bezier */
.transition .b3 {
	transition: transform 2s cubic-bezier(.45,-0.2,.66,1.32) .5s;
}

.transition .b3:hover {
	transform: rotate(2turn);
}

.transition .b4 {
	transition: all 1s ease-in-out .3s;
}

.transition .b4:hover {
	transform: rotate(320deg);
	/* whenever you make border radius to 50%, it makes it a circle */
	border-radius: 50%; 
	background-color: #9696ff;
}

/***********************************************  
                    TRANSFORM
 ***********************************************/

.transform .box {
	transition: transform .5s;
}

.transform .b1 {
	transform: rotate(60deg);
	transform-origin: bottom right;
}

.transform .b1:hover {
	transform: rotate(0deg);
}

.transform .b2 {
	transform: rotate(0deg);
}

.transform .b2:hover {
	transform: translate(20px, 20px);
}

.transform .b3 {
	transform: scale(1);
	transform-origin: top left;
}

.transform .b3:hover {
	transform: scale(1.5);
}

.transform .b4 {
	transform: skewX(15deg) translateX(27px);
}

.transform .b4:hover {
	transform: skewX(0deg);
}

/***********************************************  
                    ANIMATION
 ***********************************************/